
/* shared style */
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
  background-position: bottom right;
  background-image: url(../images/banner/banner1.png);
  width: 1600px;
  height: 808px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.btn {
  background-color: #F15B22;
  border: none;
  padding: 20px 25px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
}

.section-heading {
  max-width: 1140px;
  text-align: center;
  margin: 0 auto;
}

.section-heading h1 {
  font-size: 40px;
  margin-bottom: 55px;
}
#about .container-info h3 {
  font-size: 40px;
  font-weight: bold;
  color: #151414;
  margin-bottom: 24px;
  max-width: 288px;
  margin-left: 40px;
}

#about .container-info p {
 max-width: 416px;
 font-size: 16px;
 line-height: 26px;
 color: #444343;
 margin-bottom: 16px;
 margin-left: 40px;
}

.about-container .container-li {
 height: 162px;
 color: #444343;
 margin-bottom: 8px;
 list-style: none;
 margin-left: 20px;
}

ul {
  list-style: none;
}

/* main style */
 #banner .banner-content {
    max-width: 525px;
 }

#banner .banner-content h2 {
  font-size: 65;
  font-weight: 700;
  color: #151414;
  margin-bottom: 24px;
}

#banner .banner-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #444343;
  margin-bottom: 30px;
}
.about-container {
   display: flex;
   justify-content: space-between;
   align-items:center;
   margin-left: 0; 
   max-width: 1400px;
}

#plan {
  padding-top: 135px;
}

#plan .plan-container {
margin-left: 230px;
text-align: center;
max-width: 1140px;
}

#plan .plan-container .plan-box {
  display:flex;
  gap: 86px;
}

.plan-box .plan-card {
  /* border: 1px solid red; */
  max-width: 214px;
}

.plan-card img {
  max-width: 92px;
  margin-bottom: 23px;
}
.plan-card h4 {
  font-size: 30px;
  color: #151414;
  margin-bottom: 20px;
}

.plan-card p {
  font-size: 25px;
  color:#737272;
  font-weight: medium;
}

.image-container {
 background-image: url(../images/gradient2.png), url(../images/watch.png);
 background-repeat: no-repeat;
 height: 300px;
 }

.image-container h5 {
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
  padding-top: 60px;
  margin-left: 64px;
}

.image-container .btn {
  width: 160px;
  height: 64px;
  border-radius: 5px;
  background-color: #FFFFFF;
  color:#F15B22;
  font-size: 20px;
  font-weight: semibold;
  margin-left: 64px;
}

#footer-container {
border: 1px solid red;
padding-top: 130px;
margin-top: 130px;
background-color: #151414;
display: flex;
}

.future {
  max-width: 485px;
  margin: 0 130px;
  justify-content: left;
}

#footer-container .future h5{
  font-size: 45px;
  font-weight: bold;
  color: #F8F8F8;
  margin-bottom: 16px;
}

#footer-container .future p {
  font-size: 16px;
  color: #FFFFFF;
}
 
.icons {
  gap: 25px;
}

#form {
  max-width: 325px;
  margin-top: 130px;
  display:flex;
 justify-content: space-between;
 align-items: center;
 margin-left: 0; 
}

.form {
  font-size: 25px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.form nav {
  max-width: 325px;
}
 .input {
  background-color: #151414;
 }

 #footer-container .btn {
  width: 170px;
  color: #F15B22;
  border-radius: 8px;
  background-color: #FFFFFF;
 }